* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    height: 100px;
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
    .site-title {
        font-size: 3em;
    }
    .site-subtitle {
        font-size: 1.3em;
    }
}

@media (max-width: 720px) {
    body {
        font-size: 14px;
    }
    .site-title {
        font-size: 2.5em;
    }
    .site-subtitle {
        font-size: 0.9em;
    }
}

header {
    background-image: url('../img/Fundo.jpg');
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu li {
    list-style: none;
}

.menu ul {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.menu a {
    padding: 20px;
    display: block;
}

.menu a {
    font-family: monospace;
    font-size: 120%;
    font: bold;
    text-decoration: none;
    color: white;
    background-color: rgba(85, 111, 172, 0.582);
    padding: 20px;
    border-radius: 10px;
}

.menu a:active,
.menu a:hover {
    font-weight: bold;
    background-color: rgba(39, 79, 170, 0.952);
    transition: 0.6s;
}

.titulo {
    opacity: 0;
    animation: ease-in 1s introtitulo forwards;
}

@keyframes introtitulo {
    100% {
        opacity: 1;
    }
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}

.contato,
.portfolio {
    background-color: rgba(16, 23, 58, 0.452);
    text-align: center;
    line-height: 3;
    padding: 20px;
}

.portfolio,
.imagens {
    display: grid;
    gap: 2.5em;
    text-align: center;
}

@media (min-width: 1010px) {
    .portfolio .imagens {
        grid-template-columns: 450px 450px;
        align-content: center;
        justify-content: center;
        padding: 20px;
    }
}

.contato .subtitle,
.portfolio .subtitle {
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.portfolio .subtitle {
    margin-top: 40px;
    padding-top: 30px;
}

.contato .subtitle {
    margin-top: 110px;
    padding-top: 30px;
}

.imagens {
    padding: none;
}

.imagens .img-portfolio {
    box-shadow: 2px 2px 10px rgba(16, 23, 58, 0.452);
    width: 350px;
    height: 13em;
    object-fit: cover;
    object-position: center;
}

.imagens .img-portfolio:hover {
    transition: transform 0.4s;
    transform: scale(1.1) rotate(-1.5deg);
}

.imagens figcaption {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

.contato {
    background-color: whitesmoke;
}

.contato .icons {
    padding-top: 0;
    padding-bottom: 115px;
    text-align: center;
}

.contato a {
    color: black;
    font-size: 4em;
    text-decoration: none;
    padding: 30px;
}

.contato a:active,
.contato a:hover {
    transition: text-shadow 0.4s;
    text-shadow: 0px 1px 10px rgba(16, 23, 58, 0.452);
}